<!DOCTYPE html>
<html lang="en" ng-app="tasksApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Automatic tasks producer</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="tasksApp.js"></script>
</head>
<body>

<div ng-cloak class="container-fluid" ng-controller="TasksController">
	<br>
	<div class="row">
		<div class="col-sm-12">
			<div class="progress" ng-repeat="assignee in assignees">
				<div ng-class="['progress-bar', {'progress-bar-success':assignee.is_healthy(), 'progress-bar-danger':!assignee.is_healthy()}]"
					 role="progressbar"
					 aria-valuenow="{{assignee.num_of_uncompleted_tasks}}" aria-valuemin="0"
					 aria-valuemax="100"
					 style="width: {{percentage_of_uncompleted_tasks(assignee)}}%">
					<span>{{assignee.name}}:  {{assignee.num_of_uncompleted_tasks}}</span>
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</div>

	<div class="row">
		<div class="col-sm-1">
			<button ng-if="is_active" type="submit" class="btn btn-danger" ng-click="deactivate()">Stop</button>
			<button ng-if="!is_active" type="submit" class="btn btn-primary" ng-click="activate()">Start</button>
		</div>
	</div>
</div>
</body>
</html>