<!DOCTYPE html>
<html lang="en" ng-app="tasksApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Automatic tasks producer</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="tasksApp.js"></script>
</head>
<body>

<div class="container-fluid" ng-controller="TasksController">
	<br>
	<div class="row">
		<div class="col-sm-12">
			<div class="progress" ng-repeat="assignee in assignees">
				<div class="progress-bar progress-bar-success" role="progressbar"
					 aria-valuenow="{{assignee.num_of_uncompleted_tasks}}" aria-valuemin="0"
					 aria-valuemax="100"
					 style="width: {{percentage_of_uncompleted_tasks(assignee)}}%">
					<span>{{assignee.name}}:  {{assignee.num_of_uncompleted_tasks}}</span>
				</div>
			</div>
			<div class="progress">
				<div class="progress-bar progress-bar-danger" role="progressbar"
					 aria-valuenow="{{num_http_failures}}" aria-valuemin="0"
					 aria-valuemax="100"
					 style="width: {{percentage_of_http_failures()}}%">
					<span>Failures:  {{num_http_failures}}</span>
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--		<button type="submit" class="btn btn-default" ng-click="produce_tasks()">
			Produce tasks
		</button>
		<button type="submit" class="btn btn-default" ng-click="mark_tasks_as_done()">
			Mark tasks as done
		</button>
		<button type="submit" class="btn btn-default" ng-click="refresh_task_count()">
			Refresh
		</button>-->

	</div>
</div>
</body>
</html>